table .student-table {
    border:#ccc 1px solid;
}

.student-table th {
    color: #fff;
    background: #337ab7;
    text-align: left;
}

.student-table tr td,
.student-table tr th {
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 6px 100px 6px 6px;
}

.student-table tr td {
    background: #fafafa;
}