.notification {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification .notificationtext {
    visibility: hidden;
    width: 160px;
    background-color: #076ED6;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.notification .notificationtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.notification .show {
    visibility: visible;
    -webkit-animation: fadeInOut 3s linear 1 forwards;
    animation: fadeInOut 3s linear 1 forwards;
}

@-webkit-keyframes fadeInOut {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInOut {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}