table thead {
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #00b3fe;
    color: rgb(255, 255, 255);
}

table tbody {
    background-color: #f5f5f5;
}

table tbody tr:hover {
    background-color: #d8d8d8;
}

table th,
td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

ul.members {
    list-style-type: none;
    margin: 0;
    padding: 0;
}